<div class='col-md-4'>
  <h2>{{view.header}}</h2>
  {{#if hasErrors}}
  <div class="alert alert-danger fade in">
    Your gift could not be saved.
    <button type="button" class="close" data-dismiss="alert">×</button>
  </div>
  {{/if}}
  <form class='form' role='form'>
    <div class='form-group'>
      {{input value=model.name id='giftName' placeholder='Name' class='form-control'}}
    </div>
    <div class='form-group'>
      {{input value=model.price id='giftPrice' placeholder='Price' class='form-control'}}
    </div>
    <div class='form-group'>
      {{input value=model.url id='giftUrl' placeholder='URL' class='form-control'}}
    </div>
    <input type="submit" {{bindAttr value=view.saveButton}} class='btn btn-submit' {{action saveGift}}>
    {{#link-to 'gifts' class='btn'}}Cancel{{/link-to}}
  </form>
</div>
